html,body {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    
    scroll-behavior: smooth ;
     
}
#menu{
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed; 
  top: 0; 
  width: 100%;
  transition: top 0.3s;
    
}
#article{
  color: white;
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; color: #fff;
  text-align-last: center;
}

h2{
  color:white;
}

h1{
  color:white;
  text-align-last: center;
}

p{

 
    max-width: 60rem;
    color:white;
    text-align-last: center;

}

#titleBox {
 
    width: 100%;
    min-height: 100vh;
    background-image: url("pictures/gruppe3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50vh;
    padding-bottom: 20vh;
    text-align-last: center;

}
/* Container holding the image and the text */
.container {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px; color: #fff;
  text-align-last: center;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
} 

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  text-align-last: center;
}

.container {
  position: relative;
  font-family: Arial;
  text-align-last: center;
}

#div { 
  background: rgb(0, 0, 0);
  max-width: 100%;
  padding: 1rem;
  color: #fff;
  text-align: center;
  margin: 0 auto 20vh auto;

} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  
/* MEDIA QUERES MOBILE FIRST*/

    @media (min-width: 600px)  {
}
