html,body {
    margin: 0;
    padding: 0;
}

body {
    
    scroll-behavior: smooth ;
     
}

p{

 
    max-width: 60rem;

}

#titleBox {
 
    width: 100%;
    min-height: 100vh;
    background-image: url("picture/ukraina.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  
/* MEDIA QUERES MOBILE FIRST*/

    @media (min-width: 600px)  {
}
