html,body {
    margin: 0;
    padding: 0;
}

body {
    
    scroll-behavior: smooth ;
     
}
#menu{
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: fixed; 
  top: 0; 
  width: 100%;
  transition: top 0.3s;
    
}

p{

 
    max-width: 60rem;

}

#titleBox {
 
    width: 100%;
    min-height: 100vh;
    background-image: url("pictures/ukraina.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50vh;
    padding-bottom: 20vh;

}
/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: center;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#div {
  background: rgba(0, 0, 0, 0.7);
  max-width: 50rem;
  padding: 2rem;
  color: #fff;
  text-align: left;
  margin: 0 auto 60vh auto;

} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  
/* MEDIA QUERES MOBILE FIRST*/

    @media (min-width: 600px)  {
}
